<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blogsito de Gaspi</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href=" {% static 'Appblog/assets/favicon.svg' %} " />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'Appblog/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                     
                        {% if not request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Appblog/login/">Sing in </a></li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Appblog/logout/">Sing out </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    {% if request.user.is_authenticated %}
                    <h1 class="fw-bolder">Bienvenid@ {{request.user.username}} !

                    {% endif %}
                    </h1>
                    <p></p>

                </div>
            </div>
        </header>
        <div class = "text-center"> 
            <img height="300" src=" {{url}}"> 
            <p></p>

        <p class="fw-bolder">Nombre:  {{request.user.first_name}} 
        <p class="fw-bolder">Apellido:  {{request.user.last_name}} 
        <p class="fw-bolder">Email:  {{request.user.email}} 
        
       <p>  <a href="{% url 'infoadicional' %}">Informacion adicional</a> </p>
      
            

       <p> <a href="{% url 'actualizar' %}"> Actualizar usuario </a>
        {% if request.user.is_superuser %}
        <p> <a href="{% url 'cargarimagen' %}"> Actualizar foto </a>
           {% else %} 
           <p></p>"Usted no esta autorizado para modificar su foto, solo el administrador puede hacerlo"
        {% endif %}
        <p></p>
        <p> <a href="{% url 'List' %}"> Volver al inicio -> </a>



    
            


        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
            <!--    <div class="col-lg-8">  -->
                    <div class="row">
                       <div class="col-lg-8">  
                            <!-- Blog post-->
                            <p>        </p>

          
                </div>
            </div>
        </div>
    </div>
</ul>
</body>
                        
 
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src=" {% static 'Appblog/js/scripts.js' %}"></script>
    </body>
</html>