<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for mensaje in object_list %} 
    
<p><h2> <li>   {{mensaje.autor }} dice: </li></h2>
      <h3>  {{mensaje.mensaje}}  </h3>
 <p></p> <a href=" {% url 'editarcomentario' mensaje.id %}"> Editar  </a> <a href="{% url 'borrarcomentario' mensaje.id %}">Borrar</a>  </p>
<p></p>

    {% endfor %}   
    <p></p> <a href="{% url 'nuevocomentario' %}" >Enviar un comentario</a>
    <p></p><a href="{% url 'List' %}" >Volver al inicio</a>

</body>
</html>